<h1>Creadora de MVDC-FUNKOS</h1>
<form id="productForm">
    <div>
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" required />
    </div>
    <div>
        <label for="description">Descripción:</label>
        <input type="text" id="description" name="description" required />
    </div>
    <div>
        <label for="code">Código:</label>
        <input type="text" id="code" name="code" required />
    </div>
    <div>
        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" required />
    </div>
    <div>
        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" required />
    </div>
    <div>
        <label for="category">Categoría:</label>
        <input type="text" id="category" name="category" required />
    </div>
    <button type="submit">Crear Funko</button>
</form>

<ul id="funkos" class="collection"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>